<% include ./styling/header %> 

<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Password Reset</h1>
    <div style="width: 30%; margin: 30px auto;">
      <form action="/campsites" method="GET">
        <div class="form-group">
          <input class="form-control" type="email" name="email" placeholder= "Enter your email for the password reset link"autocomplete="off" autofocus required/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Continue</button>
        </div>
      </form>
      <hr>
      <a href="/login">Back</a>
    </div>
  </div>
</div>

<% include ./styling/footer %>







