<% include ../styling/header %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Create a new Campsite</h1>
		<div style="width:30%; margin: 30px auto;">
			<form action="/campsites" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="image url">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="location" placeholder="Where is it located?" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="Describe your campsite">
				</div>

				<h3> More Features:</h3>
				<div class="form-group">
					<input type="checkbox" name="features" value="Toilets"> Toilets<br>

				</div>
				<div class="form-group">
					<input type="checkbox" name="features" value="Trash"> Trash<br>

				</div>
				<div class="form-group">
					<input type="checkbox" name="features" value="Picnic Table"> Picnic Tables<br>

				</div>
				<div class="form-group">
					<input type="checkbox" name="features" value="Barbeque"> Barbeque <br>

				</div>

				<h3> Activities: </h3>

				<div class="form-group fa fa-bicycle">
						<input type="checkbox" name="activities" value="Biking"> Biking<br>

				</div>

				<div class="form-group">
					<input type="checkbox" name="activities" value="Fishing" > Fishing<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="activities" value="Paddling" > Paddling<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="activities" value="Swimming" > Swimming<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="activities" value="Boating" > Boating<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="activities" value="Hiking" > Hiking<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="activities" value="Snow Sports" > Snow sports<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="activities" value="Wildlife watching" > Wildlife watching<br>
				</div>


				<div class="form-group">
					<button class="btn btn-success btn-block">Submit!</button>
				</div>
			</form>
			<a href="/campsites">Go back</a>
		</div>
	</div>
</div>


<% include ../styling/footer %>
